.icon {
    width: 18px;
    height: 18px;
    color: var(--content-primary);
  }
  
  .equal {
    width: 24px;
    height: 24px;
    color: var(--content-primary);
  }
  
  .between {
    display: flex;
    align-items: center;
    color: var(--content-primary);
  
    & > * {
      width: 18px;
      height: 18px;
  
      &:last-child {
        margin-left: -10px;
      }
    }
  }
  