.ant-timeline-item-tail {
    top: calc(50% - 5px);
    border-color: var(--border-blue);
  }
  
  .ant-timeline-item-head {
    top: calc(50% - 10px);
    transform: translateY(-50%);
  
    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 100%;
      width: 18px;
      height: 2px;
      background-color: var(--background-blue);
    }
  
    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: calc(100% + 9px);
      width: 8px;
      height: 8px;
      border: 2px solid var(--background-blue);
      border-left-color: transparent;
      border-bottom-color: transparent;
      transform: rotate(45deg);
    }
  }
  
  .ant-timeline-item-content {
    top: 0;
  }